@charset "utf-8";
html, body{margin:0;padding:0;font-family:dotum, '돋움', arial, sans-serif;font-size:12px;color:666;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,form,fieldset,input,textarea,blockquote,th,td{margin:0;padding:0;}
input, select, textarea{font-family:dotum, '돋움', arial, sans-serif;font-size:12px;color:666;}
table{border-collapse:collapse;}
ul, ol, li{list-style:none;}
a, img, fieldset{border:0 none;}
a, a:visited, a:active{color:#666;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}

div.olMap {z-index: 0;padding: 0px!important; margin: 0px!important; cursor: url(/images/maps/hand.cur), default;}
div.olMapViewport { text-align: left;}
div.olLayerDiv { -moz-user-select: none;}
.olLayerGoogleCopyright {left: 2px;bottom: 2px;}
.olLayerGooglePoweredBy {left: 2px;bottom: 15px;}
.olControlAttribution {color:red;font-family:'돋움',Dotum,Helvetica,AppleGothic,Sans-serif; font-size: 11px; font-weight:bold;right: 5px;bottom: 0.7em;position: absolute;display: block;opacity: 1.0; filter: alpha(opacity=100);padding:0px 36px 1px 0px;}
.olControlAttribution a{font-style:italic;color:blue;}
.olControlScale {right: 3px;bottom: 3em;display: block;position: absolute;font-size: smaller;}
.olControlScaleLine {display: block;position: absolute;left: 10px;bottom: 40px;font-size: xx-small;}
.olControlScaleLineBottom {border: solid 2px black;border-bottom: none;margin-top:-2px;text-align: center;}
.olControlScaleLineTop {border: solid 2px black;border-top: none;text-align: center;}
.olControlPermalink { right: 3px; bottom: 1.5em; display: block; position: absolute; font-size: smaller;} 
div.olControlMousePosition { bottom: 0em; right: 3px; display: block; position: absolute; font-family: Arial; font-size: smaller;}
.olControlOverviewMapContainer { position: absolute; bottom: 0px; right: 0px;}
.olControlOverviewMapElement { padding: 2px; background-color: #d7dbd6; -moz-border-radius: 0.7em 0 0 0;}
.olControlOverviewMapMinimizeButton { right: 0px; bottom: 0px;}
.olControlOverviewMapMaximizeButton { right: 0px; bottom: 0px;}
.olControlOverviewMapExtentRectangle { overflow: hidden; background-image: url("/images/maps/blank.gif"); cursor: move; border: 2px dotted orange;}
.olControlOverviewMapRectReplacement { overflow: hidden; cursor: move; background-image: url("/images/maps/overview_replacement.gif"); background-repeat: no-repeat; background-position: center;}
.olLayerGeoRSSDescription { float:left; width:100%; overflow:auto; font-size:1.0em;}
.olLayerGeoRSSClose { float:right; color:gray; font-size:1.2em; margin-right:6px; font-family:sans-serif;}
.olLayerGeoRSSTitle { float:left;font-size:1.2em;}
.olControlNavToolbar {width:0px; height:0px;} 
.olControlNavToolbar div {   display:block;  width:  28px;  height: 28px;  top: 300px;  left: 6px;  position: relative;}
.olControlNavigationHistory {background-image: url(/images/maps/navigation_history.png);background-repeat: no-repeat;width:  24px;height: 24px;}
.olControlEditingToolbar  { float:right; right: 0px; height: 30px;  width: 200px;}
.olControlEditingToolbar div { background-image: url(/images/maps/editing_tool_bar.png);  background-repeat: no-repeat;  float:right;  width:  24px;  height: 24px;  margin: 5px;}
.olHandlerBoxZoomBox { border: 2px solid red; position: absolute; background-color: white; opacity: 0.50; font-size: 1px; filter: alpha(opacity=50);}
.olHandlerBoxSelectFeature { border: 2px solid blue; position: absolute; background-color: white;  font-size: 1px; opacity: 0.50; filter: alpha(opacity=50);}
.olControlPanPanel { top: 4px; left: 5px;}
.olControlPanPanel div { background-image: url(/images/maps/pan-panel.png); height: 18px; width: 18px; cursor: pointer; position: absolute;}
.olControlPanPanel .olControlPanNorthItemInactive { top: 0px; left: 9px; background-position: 0px 0px;}
.olControlPanPanel .olControlPanSouthItemInactive { top: 36px; left: 9px; background-position: 18px 0px;}
.olControlPanPanel .olControlPanWestItemInactive { position: absolute; top: 18px; left: 0px; background-position: 0px 18px;}
.olControlPanPanel .olControlPanEastItemInactive { top: 18px; left: 18px; background-position: 18px 18px;}
.olControlZoomPanel { top: 71px; left: 14px;}
.olControlZoomPanel div { background-image: url(/images/maps/zoom-panel.png); position: absolute; height: 18px; width: 18px; cursor: pointer;}
.olPopupContent { -moz-user-select: none;padding:0px; overflow: auto;} 
.olPopupCloseBox { background: url(/images/maps/del-gray.gif) no-repeat; cursor: pointer;padding-right:10px;}
.olInfoWindowCloseBox { background: url(/images/maps/del-gray.gif) no-repeat; cursor: pointer;padding:0;}
.olVClosePopup { -moz-user-select: none;padding:0px; overflow: auto;background: url(/images/maps/del-blue.gif) no-repeat;  cursor: pointer;} 

.olFramedCloudPopupContent {overflow: auto;background-color:white;font-family:'돋움',dotum, arial, sans-serif;padding:0 0;}
.olFramedCloudPopupContent * {padding:0 0;margin:0 0;box-sizing:border-box;}
.olFramedCloudPopupContent div.title{background-color:white;line-height:22px;padding:4px 2px 2px 4px;margin-bottom:2px;font-family:"Nanum Gothic",'나눔고딕','돋움',dotum, arial, sans-serif;font-size:18px;color:black;font-weight:bold;}
.olFramedCloudPopupContent div.nam{line-height: 130%;font-weight: bold;color: white;padding: 6px 0 3px 7px;border-bottom: 1px #cdcdcd solid;background: #72bbbb;width:40%;display: inline-block;}
.olFramedCloudPopupContent div.val{line-height: 130%;font-weight: normal;padding: 6px 0 3px 10px;border-bottom: 1px #cdcdcd solid;width:60%;display: inline-block;}
.olFramedCloudPopupContent div.val_num{line-height: 130%;text-align:right;clear:right;font-weight: normal;padding: 6px 0 3px 10px;border-bottom: 1px #a8a8a8 solid;width:60%;display: inline-block;}
.olFramedCloudPopupContent div.val_str{line-height: 130%;text-align:center;clear:right;font-weight: normal;padding: 6px 0 3px 10px;border-bottom: 1px #a8a8a8 solid;width:60%;display: inline-block;}

.olFramedCloudPopupContent div.list {padding:0px 15px 0px 15px;background-color:white;margin-bottom:4px;}
.olFramedCloudPopupContent div.navi {clear:left;text-align:center;padding-left:5px;height:22px;font-family:'돋움', dotum,arial, sans-serif;font-size:11px;color:gray;background-color:white;}

.olFramedCloudPopupContent a.navi {margin:0px 5px 0px 3px;font-family:'돋움', dotum,arial, sans-serif;font-size:13px;color:#aaa;font-weight:bold;}
.olFramedCloudPopupContent a.navi_focus {color:#555;font-size:16px;font-weight:bold;text-decoration:underline;}

.olFramedCloudPopupContent a.navi:hover {text-decoration:underline;font-size:16px;}
.olFramedCloudPopupContent a:hover {text-decoration:underline;}
.olFramedCloudPopupContent img.navi {cursor:pointer;padding-left:3px;}
.olFramedCloudPopupContent img.close {cursor:pointer;padding-right:0px;float:right;}
.olFramedCloudPopupContent div.etc{line-height:30px;background-color:white;margin-top:0px;padding: 0 5px 0 5px}
.olFramedCloudPopupContent div.etc .name{line-height:25px;padding-left:2px;font-family:'돋움',dotum, arial, sans-serif;font-size:13px;color:#026da5;font-weight:bold;border-bottom:2px solid #5191C2;}
.olFramedCloudPopupContent a.etc{text-decoration:underline;padding:0px 0px 0px 5px;font-family:'돋움',dotum, arial, sans-serif;font-size:12px;color:#555;font-weight:bold;}

.olFramedBoxPopupContent { -moz-user-select: none;padding:2px; overflow: auto;} 
.olFramedBoxClose { background: url(/images/maps/box-popup-close.png) no-repeat;cursor: pointer;padding:0px;}

.olControlNoSelect { -moz-user-select: none;}
.olImageLoadError { background-color: transparent; opacity: 0.5; filter: alpha(opacity=50);/* IE */}
/**
 * Cursor styles
 */
.olCursorWait { cursor: wait;}.olDrawBox { cursor: crosshair;}
.olDragDown { cursor: url(/images/maps/grabhand.cur),move;}
.olControlDragFeatureOver { cursor: move;}.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown { cursor: -moz-grabbing;}
/**
 * Layer switcher
 */
.olControlLayerSwitcher { position: absolute; top: 60px; right: 4px; width: 20em; font-family: sans-serif; margin-top: 3px; margin-left: 3px; margin-bottom: 3px; font-size: 11px; color: white; background-color: transparent;}
.olControlLayerSwitcher .layersDiv { padding-top: 5px; padding-left: 10px; padding-bottom: 5px;padding-right: 0px !important; background-color: #3F3F3F !important;  width: 100%; height: 100%;}
.olControlLayerSwitcher .layersDiv .baseLbl,.olControlLayerSwitcher .layersDiv .dataLbl { margin-top: 3px; margin-left: 3px; margin-bottom: 3px;}
.olControlLayerSwitcher .layersDiv .baseLayersDiv,.olControlLayerSwitcher .layersDiv .dataLayersDiv { padding-left: 10px;}
.olControlLayerSwitcher .maximizeDiv,.olControlLayerSwitcher .minimizeDiv { top: 5px; right: 0px;}
#tt {position:absolute; display:block; background:url(/images/maps/tt_left.gif) top left no-repeat;}
#tttop {display:block; height:5px; margin-left:5px; background:url(/images/maps/tt_top.gif) top right no-repeat; overflow:hidden;}
#ttcont {font-size:12px;display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF;}
#ttbot {display:block; height:5px; margin-left:5px; background:url(/images/maps/tt_bottom.gif) top right no-repeat; overflow:hidden;}

.clearboth { clear: both; }
.customMapToolbar {float: right;right: 0px;height: 40px; width: 100%;background-color: transparent;}
.customMapToolbar div {float: right;margin: 5px;width: 40px;height: 40px;background-color: transparent;}
div.olZoominItemActive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/zoom-plus.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olZoominItemInactive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/zoom-plus.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olZoomoutItemActive{ cursor: pointer;background-color: transparent;background-image: url(/images/maps/zoom-minus.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olZoomoutItemInactive{ cursor: pointer;background-color: transparent;background-image: url(/images/maps/zoom-minus.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olPrevItemActive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/prev.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olPrevItemInactive {cursor: pointer;background-color: transparent;background-image: url(/images/maps/prev.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olNextItemActive {cursor: pointer;background-color: transparent;background-image: url(/images/maps/next.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olNextItemInactive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/next.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olFullExtItemActive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/fullext.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olFullExtItemInactive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/fullext.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olInitItemActive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_init.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olInitItemInactive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_init.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olPanItemActive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olPanItemInactive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.calDistItemActive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_dist.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.calDistItemInactive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_dist.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.calAreaItemActive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_area.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.calAreaItemInactive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_area.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olZoominHItemActive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/zoom-plus.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olZoominHItemInactive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/zoom-plus.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olZoomoutHItemActive {float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/zoom-minus.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olZoomoutHItemInactive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/zoom-minus.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olPrevHItemActive {float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/prev.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olPrevHItemInactive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/prev.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olNextHItemActive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/next.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olNextHItemInactive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/next.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olFullExtHItemActive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/fullext.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olFullExtHItemInactive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/fullext.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olInitHItemActive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_init.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olInitHItemInactive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_init.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olPanHItemActive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olPanHItemInactive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.calDistHItemActive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_dist.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.calDistHItemInactive {float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_dist.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.calAreaHItemActive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_area.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.calAreaHItemInactive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_area.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olinfoOnHItemActive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_info.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olinfoOnHItemInactive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_info.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olinfoOnItemActive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_info.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olinfoOnItemInactive {float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/pan_info.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}

div.olGeolocateItemActive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/geolocate.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olGeolocateItemInactive { cursor: pointer;background-color: transparent;background-image: url(/images/maps/geolocate.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olGeolocateHItemActive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/geolocate.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}
div.olGeolocateHItemInactive { float:left;cursor: pointer;background-color: transparent;background-image: url(/images/maps/geolocate.png);background-repeat: no-repeat;background-position: 0px 0px;width:30px;height:30px;margin:0;padding:0;}

.vworldPanZoomBar:hover { float:left;padding:0;width:84px;opacity:1; filter: none; -ms-filter:none;cursor:pointer;}
.vworldPanZoomBar { float:left;padding:0;width:84px;opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"alpha(opacity=20)";cursor:pointer;}

.vworldPanMeasure{float:left;overflow:hidden;height:30px;width:30px;}
.vworldPanMeasure:hover{height:90px;background-image: url(/images/maps/measure_box.png);background-repeat: no-repeat;background-position: -2px 2px;}

.vworldOverviewMapContainer { position: absolute; bottom: 0px; right: 0px; }
.vworldOverviewMapElement { padding: 2px;  background-color: #d7dbd6; -moz-border-radius: 0.7em 0 0 0;}
.vworldOverviewMapMinimizeButton { right: 0px; bottom: 0px;}
.vworldOverviewMapMaximizeButton { right: 0px; bottom: 0px;}
.vworldOverviewMapExtentRectangle { overflow: hidden; cursor: move; opacity: 0.4; filter: alpha(opacity=40); -ms-filter:"alpha(opacity=40)"; border: 2px solid cyan; background: blue; }
.vworldOverviewMapRectReplacement { overflow: hidden; cursor: move; background-image: url("/images/maps/overview_replacement.gif"); background-repeat: no-repeat; background-position: center; }

.vworldXrayWindowContainer {position: absolute;bottom: 0px;right: 0px;}
.vworldXrayWindowElement {padding: 2px;background-color: #d7dbd6;-moz-border-radius: 0.7em 0 0 0;}
.mapmenu-label-text{font-family:'돋움',dotum, arial, sans-serif;font-size:12px;font-weight:normal; position:relative;top:2px;color:#333;height:18px;}
div.mapmenu{float:left;height:63px;padding: 1px 1px 1px 1px;text-align:center;font-family: sans-serif;font-size:0.8em;overflow:hidden;background-color:white;opacity:1;filter:alpha(opacity=100);-ms-filter:alpha(opacity=100);}
img.menu {cursor: pointer;text-align:center;height:65px;width:65px;opacity:1;filter:alpha(opacity=100);-ms-filter:alpha(opacity=100);}
.menubound{overflow:hidden;height:68px;}
.menubound:hover, .menubound.hover{overflow:hidden;height:136px;}
/*div.mapmenu{float:left;height:63px;padding: 1px 1px 1px 1px;border:1px solid gray;text-align:center;font-family: sans-serif;font-size:0.8em;overflow:hidden;background-color: white;}
img.menu {text-align:center;height:65px;width:65px;opacity:0.7;filter:alpha(opacity=70);-ms-filter:"alpha(opacity=70)";}
img.menu:hover{height:65px;width:65px;opacity:none;filter:none;-ms-filter:none;}*/

div.measurebox {height:auto;width:auto;min-width:110px;*min-width:110px;padding:4px;border:solid 2px #0649FB;background-color:white;font-family:'돋움',dotum, arial, sans-serif;font-size:11px;color:#0649FB;background-color:white;}
div.measurebox span.name {display:inline-block;white-space:nowrap;text-align:left;height:13px;width:36px;}
div.measurebox span.value {white-space:nowrap;height:13px;}

div.measurebox_b {height:auto;width:auto;min-width:65px;*min-width:65px;padding:4px;border:solid 2px #0649FB;background-color:white;font-family:'돋움',dotum, arial, sans-serif;font-size:11px;color:#0649FB;background-color:white;}

div.etcbox {height:auto;width:auto;padding:2px;word-wrap:break-word;text-align:center;border:solid 2px #0649FB;font-family:'돋움',dotum, arial, sans-serif;font-size:11px;color:white;background-color:#0649FB;}
div.etcbox_s {height:auto;width:auto;padding:4px;min-width:42px;*min-width:42px;text-anchor:end;word-wrap:break-word;text-align:center;border:solid 2px #0649FB;font-family:'돋움',dotum, arial, sans-serif;font-size:11px;color:white;background-color:#0649FB;}
div.etcbox_m {height:auto;width:auto;padding:4px;min-width:42px;*min-width:42px;word-wrap:break-word;text-align:center;border:solid 2px #0649FB;font-family:'돋움',dotum, arial, sans-serif;font-size:11px;color:#0649FB;background-color:white;}

span.value strong.num {color:red;}
div.olMapProgress { background: url(/images/maps/loading_statmap.gif) no-repeat; background-color: blue;}

.vworld-info-window {min-width:300px;}
.vworld-info-window,.vworld-info-window * {line-height:24px;font-weight:normal;padding:0px;word-wrap:break-word;margin:0px;background-color:white;}
.vworld-info-window h2 {font-family:"Nanum Gothic",'나눔고딕','돋움',dotum, arial, sans-serif;font-size:16px;font-weight:bold;border-bottom:2px solid #636363;margin-bottom:8px;}
.vworld-info-window p * {padding:5px 10px;word-wrap:break-word;margin:0px;}
.vworld-info-window * b {font-weight:bold;}

.olInfolayer {
	border:1px #86827f solid;
	background:#fff;
	z-index:9999;
	position:absolute; 
}
.olInfolayer .title {
	background:url('/images/maps/bg-popup-title.gif') 0 0 repeat-x; 
}
.olInfolayer .title h3 { position:relative; top:-1px; }
.olInfolayer .layerX { position:absolute; right:0; top:0;  margin:17px 15px 0 0; }

.olInfoboard .block { margin-bottom:15px; }
.olInfoboard .bl-title {  font-weight:bold;  margin-bottom:3px;  letter-spacing:-1px; }
.olInfoboard .bl-title h3 .icon { position:relative; top:-1px; }
.olInfoboard .bl-title h3 { font-size:14px;  font-weight:bold;  margin-bottom:8px; }
.olInfoboard .bl-title h3 strong { color:#ff4400; }
.olInfoboard .title .btnClose { position:absolute; right:0;  top:0;  margin:11px 15px 0 0;}
.olInfoboard .btnOutside { position:absolute;  margin:-45px 0 0 0; }
.olInfoboard {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.olInfoboard .text {padding: 10px 15px;}
.olInfoboard .text h2 {
	font-size: 16px;
	color: #026da5;
	font-weight: bold;
	margin-bottom: 4px;
}
.olInfoboard .text h2 img {
	vertical-align: middle;
}
.olInfoboard .text { margin:5px 0; }
